<%= form_for @applicant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:status, [['Next stage', 2], ['Unsuited', 99]]) %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit "Update status", :name => "raw_button", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                applicants_path, :class => 'btn' %>
  </div>
<% end %>
